<html>
	<head>
		<title>{{pageTitle}}</title>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
			integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
			crossorigin='anonymous'
		/>
		<link rel='stylesheet' type='text/css' href='./css/styles.css' />
	</head>
	<body>
		<div class='container text-center'>
			<h1>{{pageTitle}}</h1>
			<form
				action='/login'
				method='post'
				class='container center-block text-center'
			>
				{{#if error}}
					<div class='alert alert-danger col-4 container text-center'>
						Invalid username or password.
					</div>
				{{/if}}

				{{#if query.logout}}
					<div class='alert alert-danger col-4 container text-center'>
						You have been logged out.
					</div>
				{{/if}}

				<div class='form-group col-4 container text-center'>
					<label for='username'>Username</label>
					<input
						type='text'
						class='form-control'
						id='username'
						name='username'
						placeholder='Username'
					/>
				</div>
				<div class='form-group col-4 container text-center'>
					<label for='password'>Password</label>
					<input
						type='password'
						class='form-control'
						id='password'
						name='password'
						placeholder='Password'
					/>
				</div>
				<button type='submit' class='btn btn-primary'>Login</button>
			</form>
			<br />
			<footer class='mt-5 text-center'>
				<p>Developed by Kevin Lutz and Rayaan Attari</p>
				<a href='http://www.perficient.com' target='_blank'>
					<img src='./images/prft-logo.png' class='col-2' />
				</a>
			</footer>
		</div>
	</body>
</html>